@model IEnumerable<People>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center display-3"> JQuery Data Table Tool </h1>

<a type="button" asp-controller="Home" asp-action="Create" class="btn btn-success btn-lg btn-block w-100 mt-5 mb-5">Add new user</a>

<table id="people-table" class="table table-light small">
    <thead class="thead-dark">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var people in Model)
            {
                <tr>
                    <td align="center">@people.Id</td>
                    <td align="center">@people.Name</td>
                    <td align="center">@people.Email</td>
                    <td align="center">@people.Phone</td>
                    <td align="center">
                        <button onclick="return editPeople(@people.Id)" class="btn btn-primary text-light">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>

                        <button onclick="return deletePeople(@people.Id)" class="btn btn-danger text-light ml-2">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>

                    </td>
                </tr>
            }
        }      
    </tbody>
</table>
